---

---

<div id="about" 
  data-header-color="black"
  class="landing-section flex justify-center"
>
  <div class="w-4/6 mx-auto">
    <div class="pt-16 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">About Me</h3>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 bg-gray-50">
          <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Néstor Raúl Ruiz González</dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Country</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Mexico</dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 bg-gray-50">
          <dt class="text-sm font-medium leading-6 text-gray-900">Timezone</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">Mexico City (UTC-6)</dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            +5 years of experience as a Full Stack Engineer. Successful collaboration in multidisciplinary high-performance teams that deliver innovative customer-centered products that consistently exceed needs. Lean mindset backed by my experience in both established multinationals and startups in high-growth stages
          </dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 bg-gray-50">
          <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <a href="mailto:n.raulrg@gmail.com" class="underline">n.raulrg@gmail.com</a>
          </dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">LinkedIn</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <a href="https://www.linkedin.com/in/n%C3%A9stor-ra%C3%BAl-ruiz-gonz%C3%A1lez-ab0929123/"
              class="underline"> Visit profile  </a>
          </dd>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0 bg-gray-50">
          <dt class="text-sm font-medium leading-6 text-gray-900">GitHub</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <a href="https://github.com/cranez91" class="underline"> Visit repo  </a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  
</div>
