---
---

<div id="experience" 
  data-header-color="black"
  class="landing-section flex justify-center overflow-y-auto overflow-x-hidden h-screen"
>
  <div class="w-4/6 mx-auto ">
    <div class="pt-16 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">Work Experience</h3>
    </div>
    <div class="my-6 border-t border-gray-700">
      <dl class="divide-y divide-gray-700">
        <div class="px-4 py-4 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-0  ">
          <div class="w-full flex-1">
            <h3 class="text-base font-bold leading-7 text-gray-900 sm:truncate sm:text-base sm:tracking-tight">
              Full Stack Engineer - XML Team Solutions
            </h3>
            <div class="mt-1 flex flex-row flex-wrap space-x-6">
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z" clip-rule="evenodd" />
                  <path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z" />
                </svg>
                Full-time
              </div>
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                </svg>
                Remote
              </div>
              
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                </svg>
                Apr, 2020 - Present
              </div>
            </div>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Responsibilities
            </h5>
            <ul class="text-sm">
              <li>- Identify initiatives to improve performance bootlenecks and enhance the development experience and operational efficiency.</li>
              <li>- Collaborating with Cross-Functional Teams.</li>
              <li>- Document processes, APIs and important business info by using a variety of tools such as BookStack, Google Docs,Kanboard (internal platform for tickets).</li>
              <li>- Implementation of pre-calculated forecasts for NHL and MLB (only for pro members).</li>
              <li>- Work with team members to create plans, tasks, time estimates and timeline for delivery.</li>
              <li>- Designing and developing full stack application using Laravel 8, VueJS, Typescript, MySQL, Docker.</li>
            </ul>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Key Accomplishments
            </h5>
            <ul class="text-sm">
              <li>- Launching spofo.com, a sports content platform with more than 3k registered users with features likeforecasts, manage favorites, flipbook for online magazines among others.</li>
              <li>- Boosted site traffic by 30% through the innovative application of front-end technologies to create highlyengaging visuals and features.</li>
              <li>- Innovatively tackled the challenge of reducing company expenses bythe implementation of a flipbookcomponent for online magazines, replacing the need for
                PaperTurn and saving the company $75 per month.</li>
              <li>- By implementing forecasts we got an increased user engagement and satisfaction.</li>
            </ul>
          
          </div>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-0 ">
          <div class="w-full flex-1">
            <h3 class="text-base font-bold leading-7 text-gray-900 sm:truncate sm:text-base sm:tracking-tight">
              Back End Engineer - Adext AI
            </h3>
            <div class="mt-1 flex flex-row flex-wrap space-x-6">
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z" clip-rule="evenodd" />
                  <path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z" />
                </svg>
                Full-time
              </div>
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                </svg>
                Remote
              </div>
              
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                </svg>
                Ago, 2018 - Mar, 2020
              </div>
            </div>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Responsibilities
            </h5>
            <ul class="text-sm">
              <li>- Successfully implemented and enhanced algorithms by leveraging
                cutting-edge machine learning techniques.</li>
              <li>- Integrated APIs with Google AdWords to streamline campaign management and optimize audience targeting and budget allocation.</li>
              <li>- Developed internal dashboard with Laravel Nova to provide managers with a comprehensive view of campaign resultsand user's interaction 
                through integration with Hubspot, Intercom, FullStory among others.</li>
              <li>- Work with team members to create plans, tasks, time estimates and timeline for delivery.</li>
              <li>- Developed REST APIs to allow users for viewing their results and export to different file formats including PDF, CSV, andXLS files.</li>
              <li>- Collaborating with Cross-Functional Teams</li>
              <li>- Document processes, APIs and important business info by using a variety of tools such as Swagger, Confluence and JIRA(for tickets).</li>
            </ul>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Key Accomplishments
            </h5>
            <ul class="text-sm">
              <li>- Helped to maximize revenue for clients by optimizing audience segments and budget allocations.</li>
              <li>- Enabled the platform to deliver even more impressive results, helping to cement adext's position as a leader in the industry.</li>
              <li>- Through my work I enabled clients to more effectively reach their target audiences and drive higher ROI from their campaigns.</li>
              <li>- Helped to ensure that users were promptly notified of successful/failed launches and alerted in the event of any errors, providing them with a high level of transparency and ensuring their continued trust and loyalty.</li>
              <li>- Through my contributions with the internal dashboard, managers gained a valuable tool for data analysis and decision-making, enabling them to make informed strategic choices and drive greater business success.</li>
            </ul>
          </div>
        </div>
        <div class="px-4 py-4 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-0  ">
          <div class="w-full flex-1">
            <h3 class="text-base font-bold leading-7 text-gray-900 sm:truncate sm:text-base sm:tracking-tight">
              Full Stack Engineer - IA Interactive
            </h3>
            <div class="mt-1 flex flex-row flex-wrap space-x-6">
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M6 3.75A2.75 2.75 0 018.75 1h2.5A2.75 2.75 0 0114 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 016 4.193V3.75zm6.5 0v.325a41.622 41.622 0 00-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25zM10 10a1 1 0 00-1 1v.01a1 1 0 001 1h.01a1 1 0 001-1V11a1 1 0 00-1-1H10z" clip-rule="evenodd" />
                  <path d="M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 01-9.274 0C3.985 17.585 3 16.402 3 15.055z" />
                </svg>
                Full-time
              </div>
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M9.69 18.933l.003.001C9.89 19.02 10 19 10 19s.11.02.308-.066l.002-.001.006-.003.018-.008a5.741 5.741 0 00.281-.14c.186-.096.446-.24.757-.433.62-.384 1.445-.966 2.274-1.765C15.302 14.988 17 12.493 17 9A7 7 0 103 9c0 3.492 1.698 5.988 3.355 7.584a13.731 13.731 0 002.273 1.765 11.842 11.842 0 00.976.544l.062.029.018.008.006.003zM10 11.25a2.25 2.25 0 100-4.5 2.25 2.25 0 000 4.5z" clip-rule="evenodd" />
                </svg>
                Morelia, Mexico
              </div>
              
              <div class="mt-2 flex items-center text-sm text-gray-500">
                <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                </svg>
                Feb, 2017 - Ago, 2018
              </div>
            </div>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Responsibilities
            </h5>
            <ul class="text-sm">
              <li>- Developed REST APIs for Cinepolis KLIC platform using Python and AWS (Lambda, Api Gateway).</li>
              <li>- Successfully defined and created robust database structures using MySQL for the Cinepolis Klic DB.</li>
              <li>- Collaborated with the design team to develop a high-quality and responsive KIO Networks website using PHP(Laravel) and Javascript (VueJS, Vuetify, Vuex, Axios).</li>
              <li>- Contributed as a backup on multiple internal projects using a variety of cutting-edge technologies including Laravel,VueJS, CakePhp, MongoDB and jQuery.</li>
              <li>- Work with team members to create plans, tasks, time estimates and timeline for delivery.</li>
              <li>- Collaborating with Cross-Functional Teams</li>
              <li>- Document processes, APIs and important business info by using a variety of tools such as Swagger, Confluence and JIRA(for tickets).</li>
            </ul>
          </div>
          <div class="w-full flex-1">
            <h5 class="text-sm font-bold leading-7 text-gray-900 sm:truncate sm:text-sm sm:tracking-tight">
              Key Accomplishments
            </h5>
            <ul class="text-sm">
              <li>- Launching spofo.com, a sports content platform with more than 3k registered users with features likeforecasts, manage favorites, flipbook for online magazines among others.</li>
              <li>- Boosted site traffic by 30% through the innovative application of front-end technologies to create highlyengaging visuals and features.</li>
              <li>- Innovatively tackled the challenge of reducing company expenses bythe implementation of a flipbookcomponent for online magazines, replacing the need for
                PaperTurn and saving the company $75 per month.</li>
              <li>- By implementing forecasts we got an increased user engagement and satisfaction.</li>
            </ul>
          
          </div>
        </div>
        
      </dl>
    </div>
  </div>
  
</div>
